// Colors
$primary: #004bcc;
$primaryDarker: #003eaa;

$score-green: #03b209;
$score-yellow: #ffd100;
$score-red: #e80000;

// Spacing

$spacing-xs: 20px;
$spacing-sm: 30px;
$spacing-md: 40px;
$spacing-lg: 60px;
