<app-carousel></app-carousel>

<div class="container mtb-md">
  <div class="row">
    <div class="col-md-8">
      <app-header-one [route]="'/movies'" title="Popular Movies"></app-header-one>
      <app-popular-movies [items]="popularMovies" [itemsLoaded]="theatreMoviesLoaded" [type]="'movie'"></app-popular-movies>
    </div>
    <div class="col-md-4">
      <app-button-img class="mb-xs" color="blue" text="Top Rated Tv-Shows" image="/assets/images/20.jpg" route="/tv-shows"></app-button-img>
      <app-button-img color="red" text="Top Rated Movies" image="/assets/images/15.jpg" route="/movies"></app-button-img>
      <app-header-one class="mt-sm" title="Popular People"></app-header-one>
      <app-popular-people></app-popular-people>
    </div>
  </div>
</div>

<app-movie-slider></app-movie-slider>

<div class="container mtb-md">
  <div class="row">
    <div class="col-md-8">
      <app-header-one [route]="'/tv-shows'" title="Popular Shows"></app-header-one>
      <app-popular-movies [items]="popularShows" [itemsLoaded]="popularShowsLoaded" [type]="'tv'"></app-popular-movies>
    </div>
    <div class="col-md-4">
      <app-button-social icon="fab fa-twitter" text="Follow us on Twitter"></app-button-social>
      <app-button-social className="button-social--instagram" iconClass="button-social__icon--instagram" icon="fab fa-instagram" text="Follow us on Instagram"></app-button-social>
      <app-header-one title="Featured Shows"></app-header-one>
      <app-popular-discussions [shows]="popularShows"></app-popular-discussions>
    </div>
  </div>
</div>
