<div class="person">

  <div class="person-window section section--md">

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-12 col-lg-12">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <div class="person-window__img-container">
                <img class="person-window__img" src="{{ person['profile_path']}}" alt="">
              </div>

            </div>

            <div class="col-md-8 col-lg-9">
              <div class="person-window__container card">

                <ngx-content-loading *ngIf="!personLoaded"
                                     [speed]="'1000ms'"
                                     [width]="1000"
                                     [height]="360"
                                     [primaryColor]="'#c3c3c3'"
                                     [secondaryColor]="'#d7d7d7'">

                  <svg:g ngx-rect width="450" height="35" y="20" x="0" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="1000" height="170" y="100" x="0" rx="5" ry="5"></svg:g>

                  <svg:g ngx-rect width="80" height="18" y="340" x="0" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="80" height="18" y="340" x="170" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="80" height="18" y="340" x="340" rx="5" ry="5"></svg:g>
                  <svg:g ngx-rect width="80" height="18" y="340" x="510" rx="5" ry="5"></svg:g>

                </ngx-content-loading>

                <h1 class="person-window__title">{{ person['name'] }}</h1>
                <p class="person-window__bio" *ngIf="personLoaded">{{ person['biography'] }}</p>

                <div class="person-window-info" *ngIf="personLoaded">
                  <div class="person-window-info__item">
                    <div class="person-window-info__title">Gender</div>
                    <div class="person-window-info__value">{{ person['gender'] === 2 ? 'Male' : 'Female' }}</div>
                  </div>
                  <div class="person-window-info__item">
                    <div class="person-window-info__title">Age</div>
                    <div class="person-window-info__value">{{ getAge(person['birthday']) }}</div>
                  </div>
                  <div class="person-window-info__item">
                    <div class="person-window-info__title">Place of birth</div>
                    <div class="person-window-info__value">{{ getCountry(person['place_of_birth']) }}</div>
                  </div>
                  <div class="person-window-info__item">
                    <div class="person-window-info__title">Profession</div>
                    <div class="person-window-info__value">Actor</div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-md-12">
              <div class="person-window-info-alt card" *ngIf="personLoaded">
                <div class="person-window-info-alt__item">
                  <div class="person-window-info-alt__title">Gender</div>
                  <div class="person-window-info-alt__value">{{ person['gender'] === 2 ? 'Male' : 'Female' }}</div>
                </div>
                <div class="person-window-info-alt__item">
                  <div class="person-window-info-alt__title">Age</div>
                  <div class="person-window-info-alt__value">42</div>
                </div>
                <div class="person-window-info-alt__item">
                  <div class="person-window-info-alt__title">Country</div>
                  <div class="person-window-info-alt__value">England</div>
                </div>
                <div class="person-window-info-alt__item">
                  <div class="person-window-info-alt__title">Profession</div>
                  <div class="person-window-info-alt__value">Actor</div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<div class="person-known section section--white section--md">

  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <h3 class="item-header">Known for</h3>

      <ngx-content-loading *ngIf="!creditsLoaded"
                           [speed]="'1000ms'"
                           [width]="1000"
                           [height]="255"
                           [primaryColor]="'#c3c3c3'"
                           [secondaryColor]="'#d7d7d7'">

        <svg:g ngx-rect width="150" height="220" y="0" x="0" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="150" height="220" y="0" x="170" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="150" height="220" y="0" x="340" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="150" height="220" y="0" x="510" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="150" height="220" y="0" x="680" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="150" height="220" y="0" x="850" rx="5" ry="5"></svg:g>


      </ngx-content-loading>

      <div #knownElement class="person-known" (panstart)="setOffset($event)" (panright)="panRight($event)"
           (panleft)="panLeft($event)" (panend)="panEnd($event)">
        <ng-container *ngFor="let movie of knownFor; let i = index">

          <div class="person-known__item" *ngIf="i < 12" (tap)="navigateToItem(movie['media_type'], movie.id)">
            <img class="person-known__img" src="https://image.tmdb.org/t/p/w185{{ movie['poster_path']}}" alt="">
            <h3 class="person-known__title">{{ movie['title'] ? movie['title'] : movie['name'] }}</h3>
          </div>

        </ng-container>


      </div>

    </div>


    </div>

  </div>


</div>

<div class="section section--md">

  <div class="container">

    <div class="row">

    <div class="col-md-12">
      <h3 class="item-header">Work</h3>

      <div class="person-job__card card">

        <div class="person-job__header">Acting <i class="person-job__arrow fas fa-chevron-down"></i></div>
        <ng-container *ngFor="let act of acting; let i = index">
          <div class="person-job__item" *ngIf="i < actingLength">
            <div class="person-job__year" *ngIf="act['release_date']">{{ act['release_date'] | date: 'y' }}</div>
            <div class="person-job__year" *ngIf="act['first_air_date']">{{ act['first_air_date'] | date: 'y' }}</div>
            <div class="person-job__container">
              <div class="person-job__title">{{ act['title'] ? act['title'] : act['name'] }}</div>
              <div class="person-job__name" *ngIf="act['character']">as {{ act['character'] }}</div>
              <div class="person-job__name" *ngIf="act['episode_count']">{{ act['episode_count'] }} episodes ( Tv show
                )
              </div>
            </div>
          </div>
        </ng-container>

      </div>

      <div class="person-job__card card" *ngIf="production.length">

        <div class="person-job__header person-job__header--prod">Production <i
          class="person-job__arrow fas fa-chevron-down"></i></div>
        <ng-container *ngFor="let prod of production; let i = index">
          <div class="person-job__item" *ngIf="i < actingLength">
            <div class="person-job__year" *ngIf="prod['first_air_date']">{{ prod['first_air_date'] | date: 'y' }}</div>
            <div class="person-job__year" *ngIf="prod['release_date']">{{ prod['release_date'] | date: 'y' }}</div>
            <div class="person-job__container">
              <div class="person-job__title">{{ prod['title'] }}</div>
              <div class="person-job__name">{{ prod['job'] }}</div>
            </div>
          </div>
        </ng-container>

      </div>

    </div>

  </div>

  </div>

</div>

<div class="section section--md section--white">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="item-header">Images</h3>
        <app-images [images]="images" [width]="'w780'"></app-images>
      </div>
    </div>
  </div>

</div>
