<div class="carousel" #carousel>

  <button class="carousel__arrow carousel__arrow--prev" (click)="prev($event)"><i class="fas fa-chevron-left"></i></button>
  <button class="carousel__arrow carousel__arrow--next" (click)="next($event)"><i class="fas fa-chevron-right"></i></button>


  <ng-container *ngFor="let movie of movies">
    <div class="carousel__item" [ngStyle]="{'background-image': 'url(' + movie.image2 + ')'}">
      <div class="container position-relative">

        <div class="carousel__content">
          <div class="carousel__rating">8</div>
          <div class="carousel__featured">FEATURED</div>
          <h1 class="carousel__title">{{ movie.title }}</h1>
          <button routerLink="/movie" class="carousel__more">Read more</button>
        </div>
      </div>
    </div>
  </ng-container>

</div>
