<div class="carousel" #carousel (mouseenter)="showArrows=true" (mouseleave)="showArrows=false" (panright)="panRight($event)"
     (panleft)="panLeft($event)">

  <button [@arrowFade]="showArrows ? 'show' : 'hide'" class="carousel__arrow carousel__arrow--prev" (click)="prev($event)"><i class="fas fa-chevron-left"></i>
  </button>
  <button [@arrowFade]="showArrows ? 'show' : 'hide'" class="carousel__arrow carousel__arrow--next" (click)="next($event)"><i class="fas fa-chevron-right"></i>
  </button>


  <ng-container *ngFor="let movie of movies;let i = index">
    <div class="carousel__item" *ngIf="i < 8" [ngStyle]="{'background-image': 'url(' + movie['backdrop_path'] + ')'}">
      <div class="container position-relative">

        <div class="carousel__content">
          <div class="carousel__featured">FEATURED</div>
          <h1 class="carousel__title">{{ movie.title }}
            <ngx-content-loading *ngIf="movies.length === 1"
                                 [speed]="'1000ms'"
                                 [width]="1000"
                                 [height]="40"
                                 [primaryColor]="'#c3c3c3'"
                                 [secondaryColor]="'#d7d7d7'">

              <svg:g ngx-rect width="1000" height="70" y="0" x="0" rx="5" ry="5"></svg:g>


            </ngx-content-loading>
          </h1>
          <button *ngIf="movies.length > 1" [routerLink]="'/movie/' + movie.id" class="carousel__more">Read more
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <div [@arrowFade]="showArrows ? 'show' : 'hide'" class="carousel__dots" #dots>
    <div (click)="setSlidePosition(i)" [class]="i === currentPosition ? 'carousel__dot carousel__dot--active' : 'carousel__dot'" *ngFor="let movie of movies;let i = index">
    </div>
  </div>

</div>
