<div class="item-window" [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w1280'+ movie['backdrop_path'] +')'">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <img class="item-window__img" *ngIf="movie['poster_path']"
             src="{{ movie['poster_path']}}" alt="">
      </div>

      <div class="col-md-8">
        <div class="item-window__container">

          <ngx-content-loading *ngIf="!movieLoaded"
                               [speed]="'1000ms'"
                               [width]="1000"
                               [height]="400"
                               [primaryColor]="'#9b9b9b'"
                               [secondaryColor]="'#afafaf'">

            <svg:g ngx-rect width="1000" height="30" y="0" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="800" height="20" y="60" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="600" height="200" y="120" x="0" rx="5" ry="5"></svg:g>

          </ngx-content-loading>

          <h1 class="item-window__title" *ngIf="movie['title']">{{ movie['title'] }}</h1>

          <div class="item-window__meta" *ngIf="movie['release_date']">{{ movie['release_date'] | date: 'y' }} | {{
            getRuntime(movie['runtime']) }}
          </div>

          <p class="item-window__overview" *ngIf="movie['overview']">{{ movie['overview']}}</p>

          <div class="item-window-crew">
            <div class="item-window-crew__item" *ngIf="movie['overview']" style="margin-bottom: 5px">
              <span class="item-window-crew__header">Director:</span>
              <span class="item-window-crew__name" *ngIf="crew.length">{{ getDirector() }}</span>
            </div>
            <div class="item-window-crew__item" *ngIf="movie['overview']">
              <span class="item-window-crew__header">Writer:</span>
              <span class="item-window-crew__name">Jill Logan</span>
            </div>

            <ngx-content-loading *ngIf="!movieLoaded"
                                 [speed]="'1000ms'"
                                 [width]="1000"
                                 [height]="60"
                                 [primaryColor]="'#9b9b9b'"
                                 [secondaryColor]="'#afafaf'">

              <svg:g ngx-rect width="300" height="15" y="0" x="0" rx="5" ry="5"></svg:g>
              <svg:g ngx-rect width="300" height="15" y="40" x="0" rx="5" ry="5"></svg:g>


            </ngx-content-loading>

          </div>

          <div class="item-window__bottom">
            <div class="item-window__score" *ngIf="movie['overview']">8</div>
            <span class="item-window__circle" *ngIf="movie['overview']"><i class="fas fa-heart"></i></span>
            <span class="item-window__circle" *ngIf="movie['overview']"><i class="fas fa-list"></i></span>
            <span class="item-window__circle" *ngIf="movie['overview']"><i class="fas fa-eye"></i></span>

            <ngx-content-loading *ngIf="!movieLoaded"
                                 [speed]="'1000ms'"
                                 [width]="1000"
                                 [height]="60"
                                 [primaryColor]="'#9b9b9b'"
                                 [secondaryColor]="'#afafaf'">

              <svg:g ngx-circle cy="30" cx="30" r="30" ry="5"></svg:g>
              <svg:g ngx-circle cy="30" cx="150" r="30" ry="5"></svg:g>
              <svg:g ngx-circle cy="30" cx="240" r="30" ry="5"></svg:g>
              <svg:g ngx-circle cy="30" cx="330" r="30" ry="5"></svg:g>


            </ngx-content-loading>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
<div class="item-menu">
  <div class="container">
    <span class="item-menu__item">Information</span>
    <span class="item-menu__item">Cast</span>
    <span class="item-menu__item">Images</span>
  </div>
</div>
-->

<div class="item-info section section--white">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="item-header">General information</h2>
      </div>

      <div class="col-md-12">
        <ngx-content-loading *ngIf="!movieLoaded"
                             [speed]="'1000ms'"
                             [width]="1000"
                             [height]="200"
                             [primaryColor]="'#9b9b9b'"
                             [secondaryColor]="'#afafaf'">

          <svg:g ngx-rect width="420" height="200" y="0" x="0" rx="5" ry="5"></svg:g>


        </ngx-content-loading>
        <div *ngIf="videos.length">
          <iframe class="item-info__trailer" width="560" height="315" [src]="trailerUrl" frameborder="0"
                  allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>


      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Runtime</div>
          <div class="item-info__text">{{ getRuntime(movie['runtime']) }}</div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Release date</div>
          <div class="item-info__text">{{movie['release_date'] | date }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Budget</div>
          <div class="item-info__text">{{ getMoney(movie['budget']) }}</div>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Original Language</div>
          <div class="item-info__text" *ngIf="movie['original_language']">{{ getLanguage(movie['original_language']) }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Genres</div>
          <div *ngIf="movie['genres']">{{ getGenres() }}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Revenue</div>
          <div class="item-info__text">{{ getMoney(movie['revenue']) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="item-cast section">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="item-header">Top Cast</h2>
      </div>

      <ng-container *ngFor="let person of cast; let i = index">
        <div class="col-md-2" *ngIf="i < 6">
          <div class="item-cast__item" [routerLink]="'/person/' + person.id">
            <div class="item-cast__img-container">
              <img class="item-cast__img" src="https://image.tmdb.org/t/p/w500{{ person['profile_path']}}" alt="">
            </div>
            <div class="item-cast__container">
              <div class="item-cast__name">{{ person['name'] }}</div>
              <div class="item-cast__playing">{{ person['character'] }}</div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

</div>

<div class="item-images section section--white">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="item-header">Images</h2>
      </div>

      <ng-container *ngFor="let image of images;let i = index">
        <div class="col-md-3" *ngIf="i < 4">
          <div class="item-images__item">
            <img class="item-images__img" src="https://image.tmdb.org/t/p/w500{{ image['file_path']}}" alt="">
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>



