.button-social {
  border: none;
  width: 100%;
  text-align: left;
  color: black;
  //background-image: linear-gradient(to bottom right, #00b5ff, #00a8ff);
  background-color: #00a9ff;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0;

  &__text {
    margin-left: 0px;
    font-weight: 100;
    letter-spacing: 0.8px;
    margin-top: 1px;
    font-size: 1.1rem;
  }

  &__icon {
    font-size: 1.5rem;
    display: inline-block;
    padding: 20px;
    //background-color: #0099e7;
    width: 63px;
    color: #0099e7;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &__icon--instagram {
    //background-color: #bf10e7;
    color: #bf10e7;
  }

}

.button-social--instagram {
  //background-color: #cf13ff;
  margin-bottom: 30px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {



}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}
