.popular-people {

  padding: 10px;

  &__item {
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 0.15s all;
  }

  &__item:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }

  &__img-container {
    height: 40px;
    width: 40px;
    padding-bottom: 40px;
  }

  &__img {
    margin-top: -15%;
  }

  &__name {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 400;
    font-size: 1rem;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .popular-people {
    min-height: 382px;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
