@import "../../../app/_sass/variables";

/***************************
 *  ITEM WINDOW
 ***************************/
.item-window {
  padding: 40px 0;
  background-size: cover;
  background-position: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.6));
  }

  &__img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    min-height: 435px;
  }

  &__container {
    background-color: white;
    height: 100%;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    position: relative;
  }

  &__title {
    font-weight: 700;
    font-size: 1.9rem;
  }

  &__title-placeholder {
    background-color: #c3c3c3;
    height: 32px;
    border-radius: 8px;
  }

  &__meta {
    font-weight: 600;
    margin-bottom: 17px;
    margin-top: 12px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: $primaryDarker;
  }

  &__meta-placeholder {
    background-color: #e6e6e6;
    height: 22px;
    width: 50%;
    border-radius: 5px;
    margin-top: 20px;
  }

  &__overview {
    font-size: 1rem;
    height: 140px;
    overflow-y: auto;
  }

  &__overview-placeholder {
    background-color: #e6e6e6;
    height: 130px;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
  }

  &__bottom {
    border-top: 1px solid #f0f0f0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 15px;
  }

  &__circle {
    margin-right: 15px;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 41px;
    font-size: 1.2rem;
    color: #5d5d5d;
    border-radius: 50%;
    text-align: center;
  }

  &__score {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 41px;
    background-color: #00be00;
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
    text-align: center;
    margin-right: 40px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  }

  &__score--green {
    background-color: $score-green;
  }
  &__score--yellow {
    background-color: $score-yellow;
  }
  &__score--red {
    background-color: $score-red;
  }

  &__youtube {
    border: none;
    background-color: transparent;
    display: block;
    padding: 5px 10px 5px 10px;
    margin-left: 0;
    margin-top: 15px;
  }

  &__youtube:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }

  &__youtube:focus {
    outline: none;
  }

  &__youtube-text {
    color: #5f5f5f;
    font-weight: 600;
    font-size: 0.9rem;
  }

  &__youtube-icon {
    color: red;
    font-size: 1.3rem;
    float: left;
    margin-top: 2px;
    margin-right: 12px;
  }

}

/***************************
 *  TRAILER
 ***************************/
.trailer {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
  }

  &__exit {
    margin: 10px 0;
    background-color: transparent;
    color: black;
    border: none;
    display: none;
  }


  &__main {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 3px;
  }

  &__trailer {
    width: 100%;
    height: calc(100vh - 46px);
  }

}

.item-window-crew {

  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  padding: 16px 35px 16px 35px;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  display: none;

  &__item {
    display: inline-block;
    margin-right: 20px;
  }

  &__item-placeholder {
    background-color: #e6e6e6;
    height: 20px;
    width: 30%;
    border-radius: 10px;
  }

  &__header {
    font-weight: 600;
    font-size: 0.9rem;
    color: #232323;
  }

  &__name {
    margin-left: 8px;
    font-size: 0.9rem;
  }


}

/***************************
 *  ITEM MENU
 ***************************/
.item-menu {
  background-color: rgba(0,0,0,0.8);
  background-color: white;
  border-bottom: 1px solid #ebebeb;

  &__item {
    padding: 25px 0;
    margin-right: 60px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: black;
    font-size: 0.9rem;
  }

}

.item-header {
  font-weight: 100;
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: #181818;
}

/***************************
 *  ITEM INFO
 ***************************/
.item-info {

  &__item {
    margin-bottom: 30px;
    font-weight: 400;
  }

  &__header {
    margin-bottom: 12px;
    font-size: 0.9rem;
  }

  &__value {
    font-weight: 500;
    color: $primaryDarker;
  }

  &__trailer {
    margin-bottom: 40px;
    width: 100%;
    height: 260px;
  }

}


/***************************
 *  ITEM IMAGES
 ***************************/
.item-images {

  &__item {

  }

  &__img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

}

/***************************
 *  ITEM VIDEOS
 ***************************/
.item-videos {

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .item-window {
    padding: 80px 0;

    &__title {
      font-size: 1.8rem;
    }

    &__youtube {
      margin-left: 20px;
      display: inline-block;
      padding: 5px 10px 5px 10px;
      border-radius: 3px;
    }
  }

  .item-window-crew {
    display: block;
  }

  .item-info {
    &__trailer {
      width: 480px;
    }
  }

  .item-window {

    &__img {
      height: auto;
      max-width: 100%;
      min-height: auto;
      width: auto;
    }

    &__overview {
      padding-right: 5%;
      height: 120px;
    }

    &__container {
      padding: 20px 25px 25px 25px;
      height: 385px;
    }

    &__bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 18px 35px;
    }

  }

  .trailer {

    &__main {
      height: 500px;
      position: relative;
      margin-top: 60px;
    }

    &__container {
      width: 750px;
      margin: 0 auto;
      position: fixed;
      top: 0;
      right: 0;
      height: 500px;
      left: 0;
    }

    &__trailer {
      height: 454px;
    }

    &__exit  {
      color: grey;
    }

    &__exit:hover  {
      color: black;
    }

    &__exit:focus {
      outline: none;
    }

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .item-window {
    &__img {
      height: auto;
    }

    &__container {
      padding: 18px 20px 20px 20px;
      height: 380px;
    }

    &__bottom {
      padding: 18px 18px;
    }

    &__overview {
      padding-right: 10%;
      height: 120px;
    }
  }

  .item-info {
    .row .col-md-4:nth-child(5) .item-info__item,
    .row .col-md-4:nth-child(6) .item-info__item,
    .row .col-md-4:nth-child(7) .item-info__item {
      margin-bottom: 0;
    }
  }

  .item-window-crew {
    padding-left: 20px;
  }


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .item-window {
    &__img {
      height: auto;
    }

    &__container {
      padding: 30px 35px 35px 35px;
      height: 412px;
    }

    &__bottom {
      padding: 20px 35px;
    }
  }

  .item-window-crew {
    padding-left: 35px;
  }

  .trailer {

    &__main {
      height: 500px;
    }

    &__container {
      height: 600px;
      width: 992px;
    }

    &__trailer {
      height: 554px;
    }

  }

}
