<div class="item-window" [style.backgroundImage]="movie['backdrop_path'] ? 'url(https://image.tmdb.org/t/p/w1280'+ movie['backdrop_path'] +')' : ''">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img class="item-window__img" *ngIf="movie['poster_path']"
             src="{{ movie['poster_path']}}" alt="">
      </div>

      <div class="col-md-9">
        <div class="item-window__container">

          <ngx-content-loading *ngIf="!movieLoaded"
                               [speed]="'1000ms'"
                               [width]="1000"
                               [height]="400"
                               [primaryColor]="'#9b9b9b'"
                               [secondaryColor]="'#afafaf'">

            <svg:g ngx-rect width="600" height="30" y="0" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="400" height="20" y="60" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="800" height="150" y="120" x="0" rx="5" ry="5"></svg:g>

          </ngx-content-loading>

          <h1 class="item-window__title" *ngIf="movie['title']">{{ movie['title'] }}</h1>

          <div class="item-window__meta" *ngIf="movie['release_date']">{{ movie['release_date'] | date: 'y' }} | {{
            getRuntime(movie['runtime']) }}
          </div>

          <p class="item-window__overview" *ngIf="movie['overview']">{{ movie['overview']}}</p>

          <div class="item-window-crew">
            <div class="item-window-crew__item" *ngIf="movie['overview']" style="margin-bottom: 5px">
              <span class="item-window-crew__header">Director:</span>
              <span class="item-window-crew__name" *ngIf="crew.length">{{ getDirector() }}</span>
            </div>
            <div class="item-window-crew__item" *ngIf="movie['overview']">
              <span class="item-window-crew__header">Writer:</span>
              <span class="item-window-crew__name">Jill Logan</span>
            </div>

            <ngx-content-loading *ngIf="!movieLoaded"
                                 [speed]="'1000ms'"
                                 [width]="1000"
                                 [height]="60"
                                 [primaryColor]="'#9b9b9b'"
                                 [secondaryColor]="'#afafaf'">

              <svg:g ngx-rect width="300" height="15" y="30" x="0" rx="5" ry="5"></svg:g>
              <svg:g ngx-rect width="300" height="15" y="30" x="200" rx="5" ry="5"></svg:g>


            </ngx-content-loading>

          </div>

          <div class="item-window__bottom">
            <div class="item-window__score" *ngIf="movie['overview']">{{ roundToNearestInt(movie['vote_average']) }}</div>
            <span class="item-window__circle" *ngIf="movie['overview']"><i class="fas fa-heart"></i></span>
            <span class="item-window__circle" *ngIf="movie['overview']"><i class="fas fa-list"></i></span>
            <span class="item-window__circle" *ngIf="movie['overview']"><i class="fas fa-eye"></i></span>

            <ngx-content-loading *ngIf="!movieLoaded"
                                 [speed]="'1000ms'"
                                 [width]="1000"
                                 [height]="60"
                                 [primaryColor]="'#9b9b9b'"
                                 [secondaryColor]="'#afafaf'">

              <svg:g ngx-circle cy="35" cx="25" r="25" ry="5"></svg:g>
              <svg:g ngx-circle cy="35" cx="125" r="25" ry="5"></svg:g>
              <svg:g ngx-circle cy="35" cx="200" r="25" ry="5"></svg:g>
              <svg:g ngx-circle cy="35" cx="280" r="25" ry="5"></svg:g>


            </ngx-content-loading>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
<div class="item-menu">
  <div class="container">
    <span class="item-menu__item">Information</span>
    <span class="item-menu__item">Cast</span>
    <span class="item-menu__item">Images</span>
  </div>
</div>
-->

<div class="item-info section section--md section--white">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="item-header">General information</h2>
      </div>

      <div class="col-md-12">
        <ngx-content-loading *ngIf="!movieLoaded"
                             [speed]="'1000ms'"
                             [width]="1000"
                             [height]="300"
                             [primaryColor]="'#9b9b9b'"
                             [secondaryColor]="'#afafaf'">

          <svg:g ngx-rect width="415" height="200" y="0" x="0" rx="5" ry="5"></svg:g>


        </ngx-content-loading>
        <div *ngIf="videos.length">
          <iframe class="item-info__trailer" width="560" height="315" [src]="trailerUrl" frameborder="0"
                  allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>


      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Runtime</div>
          <div class="item-info__value">{{ getRuntime(movie['runtime']) }}</div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Release date</div>
          <div class="item-info__value">{{movie['release_date'] | date }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Budget</div>
          <div class="item-info__value">{{ getMoney(movie['budget']) }}</div>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Original Language</div>
          <div class="item-info__value" *ngIf="movie['original_language']">{{ getLanguage(movie['original_language']) }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Genres</div>
          <div class="item-info__value" *ngIf="movie['genres']">{{ getGenres() }}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item-info__item">
          <div class="item-info__header">Revenue</div>
          <div class="item-info__value">{{ getMoney(movie['revenue']) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="item-cast section section--md">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <app-cast [cast]="cast" [crew]="crew"></app-cast>
      </div>

    </div>
  </div>

</div>

<div class="item-images section section--md section--white">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h2 class="item-header">Images</h2>
      </div>

      <div class="col-md-12">
        <app-images [images]="images" [width]="'w780'"></app-images>
      </div>

    </div>
  </div>
</div>



