@import "../../app/variables";

.header-one {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -5px;


  &__title {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 1.4rem;
  }

  &__link {
    position: absolute;
    right: 5px;
    top: 5px;
    margin-left: 20px;
    font-size: 0.8rem;
    color: $primary;
    font-weight: 600;
  }

}

.header-one--white {
  color: white;
}
