<app-carousel></app-carousel>

<div class="container mtb-md">
  <div class="row">
    <div class="col-md-8">
      <app-header-one title="Popular Movies"></app-header-one>
      <app-popular-movies></app-popular-movies>
    </div>
    <div class="col-md-4">
      <app-button-img class="mb-xs" color="blue" text="Top Rated Tv-Shows" image="/assets/images/20.jpg"></app-button-img>
      <app-button-img color="red" text="Top Rated Movies" image="/assets/images/15.jpg"></app-button-img>
      <app-header-one class="mt-sm" title="Popular People"></app-header-one>
      <app-popular-people></app-popular-people>
    </div>
  </div>
</div>

<app-movie-slider></app-movie-slider>

<div class="container mtb-md">
  <div class="row">
    <div class="col-md-8">
      <app-header-one title="Upcoming"></app-header-one>
      <app-upcoming></app-upcoming>
    </div>
    <div class="col-md-4">
      <app-button-social icon="fab fa-twitter" text="Follow us on Twitter"></app-button-social>
      <app-button-social className="button-social--instagram" iconClass="button-social__icon--instagram" icon="fab fa-instagram" text="Follow us on Instagram"></app-button-social>
      <app-header-one class="mt-sm" title="Popular Discussions"></app-header-one>
      <app-popular-discussions></app-popular-discussions>
    </div>
  </div>
</div>
