<form class="top-bar-search">

  <img *ngIf="loading && !mobileMode" class="top-bar-search__loading" src="/assets/images/loader-search.gif" alt="">
  <i class="fas fa-search top-bar-search__search-icon"></i>
  <i class="fas fa-times top-bar-search__close-icon" *ngIf="query.length > 0 && !loading && !mobileMode"
     (click)="clearQuery()"></i>

  <input [disabled]="disableInput" (keyup)="attemptSearch()" (keydown)="clearTimeout1()" [(ngModel)]="query"
         placeholder="Search for movie, tv-show or actor ..." class="top-bar-search__input" type="text" name="search">
  <button [hidden]="true" type="submit" (click)="navigateToSearchPage()"></button>
  <button *ngIf="!disableInput" (click)="mobileSearchMode=true;" class="top-bar-search-mobile__btn"><i class="fas fa-search"></i></button>

</form>

<div *ngIf="mobileSearchMode" class="top-bar-search-mobile">

  <div class="top-bar-search-mobile__container">
    <div class="container position-relative">
      <input (keyup)="attemptSearch()" (keydown)="clearTimeout1()" [(ngModel)]="query"
             placeholder="Search for movie, tv-show or actor ..." type="text"
             class="top-bar-search-mobile__input">
      <i *ngIf="!loading" (click)="closeSearch()" class="top-bar-search-mobile__close fas fa-times"></i>
      <img *ngIf="mobileMode && loading" class="top-bar-search-mobile__loading" src="/assets/images/loader-search.gif"
           alt="">
    </div>

  </div>

</div>

<div class="search-results"
     [exclude]="'.top-bar-search__input,.top-bar-search-mobile__btn,.top-bar-search-mobile,.top-bar-search-mobile__input,.top-bar-search-mobile__container,.container'"
     (clickOutside)="clearQuery()"
     [@resultsContainer]="containerState">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="search-results__group">
          <div class="search-results__header" [@header]="showHeaders ? 'open' : 'closed'">Movies</div>
          <a class="search-results__more" [@header]="showHeaders ? 'open' : 'closed'" [routerLink]="'/search'" [queryParams]="{query: query, type: 'movie'}">More results</a>
          <p class="search-results__not-found" *ngIf="!movies.length && showNotFoundText"
             [@header]="showNotFoundText ? 'open' : 'closed'">No movies found matching search.</p>
          <ng-container *ngFor="let movie of movies; let i = index">
            <div class="search-results__item" @itemFade [routerLink]="'/movie/' + movie['id']">
              <img class="search-results__img"
                   [src]="movie['poster_path'] ? 'https://image.tmdb.org/t/p/w92' + movie['poster_path'] : '/assets/images/placeholder-poster.png'"
                   alt="">
              <h3 class="search-results__title">{{ movie['title'] }} <span class="search-results__year">{{ movie['release_date'] | date: 'y' }}</span>
              </h3>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="search-results__group">
          <div class="search-results__header" [@header]="showHeaders ? 'open' : 'closed'">Tv shows</div>
          <a class="search-results__more" [@header]="showHeaders ? 'open' : 'closed'" [routerLink]="'/search'" [queryParams]="{query: query, type: 'tv'}">More results</a>
          <p class="search-results__not-found" *ngIf="!tv.length  && showNotFoundText"
             [@header]="showNotFoundText ? 'open' : 'closed'">No tv shows found matching search.</p>
          <ng-container *ngFor="let show of tv; let i = index">
            <div class="search-results__item" @itemFade [routerLink]="'/tv/' + show['id']">
              <img class="search-results__img"
                   [src]="show['poster_path'] ? 'https://image.tmdb.org/t/p/w92' + show['poster_path'] : '/assets/images/placeholder-poster.png'"
                   alt="">
              <h3 class="search-results__title">{{ show['name'] }} <span class="search-results__year">{{ show['first_air_date'] | date: 'y' }}</span>
              </h3>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="search-results__group">
          <div class="search-results__header" [@header]="showHeaders ? 'open' : 'closed'">People</div>
          <a class="search-results__more" [@header]="showHeaders ? 'open' : 'closed'" [routerLink]="'/search'" [queryParams]="{query: query, type: 'person'}">More results</a>
          <p class="search-results__not-found" *ngIf="!people.length  && showNotFoundText"
             [@header]="showNotFoundText ? 'open' : 'closed'">No people found matching search.</p>
          <ng-container *ngFor="let person of people; let i = index">
            <div class="search-results__item" @itemFade [routerLink]="'/person/' + person['id']">
              <img class="search-results__img"
                   [src]="person['profile_path'] ? 'https://image.tmdb.org/t/p/w92' + person['profile_path'] : '/assets/images/placeholder-poster.png'"
                   alt="">
              <h3 class="search-results__title">{{ person['name'] }}</h3>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </div>















