.top-bar-search {

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__input {
    border: 1px solid #e1e1e1;
    padding-right: 15px;
    height: 40px;
    color: #393939;
    font-size: 0.8rem;
    width: 350px;
    font-weight: 500;
    margin-left: 50px;
    display: none;
    padding-left: 40px;
    border-radius: 2px;
    background-color: whitesmoke;
  }

  &__search-icon {
    position: absolute;
    left: 65px;
    top: 14px;
    color: grey;
    pointer-events: none;
    font-size: 0.9rem;
    display: none;
  }

  &__close-icon {
    position: absolute;
    left: 375px;
    top: 14px;
    color: grey;
    font-size: 0.9rem;
  }

  &__loading {
    height: 21px;
    width: 21px;
    position: absolute;
    left: 369px;
    top: 9px;
  }

  &__close-icon:hover {
    color: black;
    cursor: pointer;
  }

  &__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,0.6);
    display: none;
  }

}

.search-results {

  height: auto;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  z-index: 20;
  border-top: 1px solid #f0f0f0;
  overflow-y: auto;

  &__header {
    font-weight: 600;
    margin-bottom: 17px;
    letter-spacing: 1px;
  }

  &__not-found {
    font-weight: 100;
    color: #910007;
    font-size: 0.9rem;
  }

  &__year {
    font-weight: 400;
    color: #535353;
  }

  &__group {
    padding: 20px;
  }

  &__img {
    width: 29px;
    border-right: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  &__item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 333px;
    transition: 0.1s all;
    min-height: 40px;
  }

  &__item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  &__title {
    font-size: 0.9rem;
    margin-left: 10px;
    font-weight: 500;
    margin-bottom: 0;
    color: black;
  }

}

.top-bar-search-mobile {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;

  &__container {
    height: 60px;
    background-color: white;
    z-index: 999999;
    padding: 0 10px;
  }

  &__loading {
    height: 24px;
    position: absolute;
    right: 5px;
    top: 17px;
  }

  &__input {
    border: none;
    margin-top: 18px;
    padding-bottom: 5px;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 21px;
    color: #7d7d7d;
    font-size: 1.2rem;
  }

  &__btn {
    position: absolute;
    right: -76px;
    top: -16px;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    font-size: 1rem;
    background-color: white;
    color: #616161;
  }
}

.search-results {

  z-index: 1001;

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .top-bar-search {

    position: relative;
    background-color: transparent;

    &__input {
      display: block;
    }

    &__container {
      position: relative;
    }

    &__search-icon {
      display: inline-block;
    }
  }

  .top-bar-search-mobile {
    display: none;

    &__btn {
      display: none;
    }
  }

  .search-results {
    top: 54px;
    overflow-y: hidden;
  }

  .top-bar-search-results {

  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}


