.top-bar-search {
  &__input {
    border-radius: 30px;
    border: 1px solid #cdcdcd;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    color: #393939;
    font-size: 0.8rem;
    width: 350px;
    font-weight: 500;
    margin-left: 50px;
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .top-bar-search {
    &__input {
      display: block;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {



}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}


