<div class="images">
  <div #imgElement class="images__container" (panstart)="setOffset($event)" (panright)="panRight($event)"
       (panleft)="panLeft($event)" (panend)="panEnd($event)">
  <ng-container *ngFor="let image of images; let i = index">
    <div class="images__item" (tap)="openImageModal(i)" *ngIf="i < 12">
      <img class="images__img" src="https://image.tmdb.org/t/p/w185{{ image['file_path'] }}" alt="">
    </div>
  </ng-container>
  </div>
</div>

<div class="images-modal" [@fade]="showOverlay ? 'show' : 'hide'" #modal (click)="exitImageModal()">

  <div class="images-modal__container">
    <div class="images-modal__body" [@slideBody]="showModal ? 'show' : 'hide'"  (click)="stopBodyProp($event)" (swiperight)="prevImage($event)" (swipeleft)="nextImage($event)">

      <div class="images-modal__top" [@fade]="showContent ? 'show' : 'hide'">
        <div class="images-modal__header">Images</div>
        <div class="images-modal__text">{{ position + 1 }} of {{ images.length > 12 ? '12' : images.length }}  images</div>
        <div class="images-modal__exit" (click)="exitImageModal()"><i class="fas fa-times"></i></div>
      </div>

      <button [@fade]="showContent ? 'show' : 'hide'" class="images-modal__arrow images-modal__arrow--left" (click)="prevImage($event)">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button [@fade]="showContent ? 'show' : 'hide'" class="images-modal__arrow images-modal__arrow--right" (click)="nextImage($event)">
        <i class="fas fa-chevron-right"></i>
      </button>

      <div [@fade]="showContent ? 'show' : 'hide'" class="images-modal__img-container" #imgContainer >
        <ng-container *ngFor="let image of images; let i = index">
          <div class="images-modal__item" *ngIf="i < 12">
            <img class="images-modal__img" src="https://image.tmdb.org/t/p/{{ width }}{{ image['file_path'] }}" alt="">
          </div>
        </ng-container>
      </div>
      <div [@fade]="showContent ? 'show' : 'hide'" class="images-modal__choose"></div>

    </div>
  </div>

</div>
