<section class="section section--lg">

  <div class="container tv-window">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img class="episode-window__img" *ngIf="episode['still_path']"
             src="{{ episode['still_path']}}" alt="">
      </div>
      <div class="col-lg-7">
        <div class="episode-window__box">
          <h1 class="episode-window__title" *ngIf="episodeLoaded">{{ episode['name'] }}</h1>
          <p class="episode-window__overview" *ngIf="episodeLoaded">{{ episode['overview'] }}</p>

          <ngx-content-loading *ngIf="!episodeLoaded"
                               [speed]="'1000ms'"
                               [width]="1000"
                               [height]="365"
                               [primaryColor]="'#c3c3c3'"
                               [secondaryColor]="'#d7d7d7'">

            <svg:g ngx-rect width="1000" height="30" y="12" x="0" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="800" height="150" y="90" x="0" rx="5" ry="5"></svg:g>


          </ngx-content-loading>


        </div>
      </div>
    </div>
  </div>

</section>

<div class="item-cast section section--white section--md">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <app-cast class="row" [cast]="cast" [crew]="crew"></app-cast>
      </div>

    </div>
  </div>

</div>
