<div class="popular-movies">
  <div class="row">

    <ng-container *ngFor="let movie of movies; let i=index">
      <div *ngIf="i < 6" class="col-md-12 col-lg-6">
        <div class="popular-movies__item card" routerLink="/movie">
          <div class="popular-movies__rating">9</div>
          <img class="popular-movies__img" src="{{ movie.image}}" alt="">
          <div class="popular-movies__container">
            <h3 class="popular-movies__title">{{ movie.title }}</h3>
            <h4 class="popular-movies__year">May 24th, 2018</h4>
            <p class="popular-movies__text">As the Avengers and their allies have continued to protect the world from
              threats too large for any one
              hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy,
              his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his
              twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate
              of Earth and existence itself has never been more uncertain.</p>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>
