<div class="popular-movies">
  <div class="row">

    <ng-container *ngFor="let item of items; let i=index">
      <div *ngIf="i < 6" class="col-md-12 col-lg-6">
        <div class="popular-movies__item" [routerLink]="'/' + type + '/' + item['id']">
          <h3 *ngIf="itemsLoaded" class="popular-movies__title">{{ type === 'movie' ? truncateTitle( item['title']) : item['name']  }}</h3>
          <div *ngIf="itemsLoaded" class="popular-movies__rating">9</div>
          <img *ngIf="itemsLoaded" class="popular-movies__img" src="https://image.tmdb.org/t/p/w500{{ item['poster_path']}}" alt="">
          <div *ngIf="itemsLoaded" class="popular-movies__container">
            <h4 class="popular-movies__year">{{ type === 'movie' ? item['release_date'] : item['first_air_date'] | date }}</h4>
            <p class="popular-movies__text">{{ item['overview']}}</p>
          </div>

          <ngx-content-loading *ngIf="!itemsLoaded"
                               [speed]="'1000ms'"
                               [width]="1000"
                               [height]="490"
                               [primaryColor]="'#c3c3c3'"
                               [secondaryColor]="'#d7d7d7'">

            <svg:g ngx-rect width="400" height="28" y="45" x="30" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="250" height="350" y="120" x="20" rx="5" ry="5"></svg:g>

            <svg:g ngx-rect width="200" height="20" y="170" x="290" rx="5" ry="5"></svg:g>
            <svg:g ngx-rect width="600" height="200" y="240" x="290" rx="5" ry="5"></svg:g>


          </ngx-content-loading>

        </div>

      </div>
    </ng-container>

  </div>
</div>
