<div class="popular-movies">
  <div class="row">

    <ng-container *ngFor="let movie of movies; let i=index">
      <div *ngIf="i < 6" class="col-md-12 col-lg-6">
        <div class="popular-movies__item card" routerLink="/movie/{{ movie.id }}">
          <div class="popular-movies__rating">9</div>
          <img class="popular-movies__img" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path}}" alt="">
          <div class="popular-movies__container">
            <h3 class="popular-movies__title">{{ movie.title }}</h3>
            <h4 class="popular-movies__year">May 24th, 2018</h4>
            <p class="popular-movies__text">{{ movie.overview}}</p>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>
