@import "../../app/_sass/variables";

.top-bar {
  background-color: white;
  min-height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  z-index: 12;
}

.logo {

  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.1s all ease-in-out;
  backface-visibility: hidden;

  &__first {
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
    color: #2b2b2b;
  }

  &__second {
    display: inline-block;
    font-weight: 700;
    color: $primary;
  }

}

.logo:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.menu {

  margin-bottom: 0;
  margin-right:  auto;
  display: none !important;

  li {
    list-style: none;
    display: inline-block;
  }

  &__item {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    font-weight: 600;
    color: grey;
  }

  &__item:hover {
    color: $primary;
    text-decoration: none;
  }

  &__item:focus {
    outline: none;
  }

  &__item--active {
    color: $primary;
  }

}

.top-bar-user {

  &__img {
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .menu {
    display: block !important;
  }

  .top-bar {
    min-height: 70px;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {



}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}

