<div class="top-bar">

<div class="container d-flex align-items-center justify-content-between">

  <div class="logo" routerLink="/">
    <div class="logo__first">Movie</div>
    <div class="logo__second">Lake</div>
  </div>

  <div class="top-bar-search">
    <app-top-bar-search></app-top-bar-search>
  </div>
  <ul class="menu d-flex align-items-center">
    <li class="menu__item">DISCOVER</li>
    <li class="menu__item">MOVIES</li>
    <li class="menu__item">TV-SHOWS</li>
  </ul>

  <div class="top-bar-user">
    <div class="top-bar-user__img" style="background-image: url('/assets/images/30.jpg')"></div>
  </div>

</div>

</div>

